body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../images/Fortune-teller.jpg")
}


h1 {
    text-align: center;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5%
}
